@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    background: linear-gradient(68deg, #0C0043 16.62%, #003585 85.61%);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.header-image {
    
}

.header-menu {
    display: flex;
    gap: 32px;
}

.header-menu-item {
    color: #F9FDFD;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.header-menu-item a {
    text-decoration: none;
}

.content {
    margin-bottom: 48px;
    border-top: 0.4px solid #F9FDFD;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-content-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-content-text-title {
    color: #F9FDFD;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
}

.main-content-text-sub-title {
    color: #00FBD5;
    font-weight: 400;
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
}

.main-content-text-button {
    width: 180px;
    height: 80px;
    border: none;
    border-radius: 20px;
    background-color: #F9FDFD;
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
    color: #006BAA;
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
}

.main-content-text-button:hover{
    background-color: #006BAA;
    color: #F9FDFD;
}

.main-content-image {
    padding-top: 24px;
    border-radius: 50%;
}

.secondary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.secondary-content-title {
    color: #F9FDFD;
    font-family: 'Righteous', cursive;
    font-size: 24px;
    border-top: 0.4px solid #F9FDFD;
    padding-top: 48px;
    margin-bottom: 16px;
}

.secondary-content-paragraph {
    color: #00FBD5;
    font-weight: 300;
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
}

footer {
    padding: 32px;
    border-top: 0.4px solid #F9FDFD;
    display: block;
    margin: 0 auto;
    color: #006BAA;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 25px;
}